<html>
    <body>
        <p>You have a new career submission for <%= career.name %>.</p>
        <p>His / Her information are as below:</p>
        <p>First Name: <%= firstName %></p>
        <p>Last Name: <%= lastName %></p>
        <p>Email: <%= email %></p>
        <p>Phone: <%= phone %></p>
    </body>
</html>